<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes"/>
        <title>Waiting for next season...</title>
        <meta property="og:title" content="Waiting for next season..."/>
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://f1when.com">
        <meta name="description" content="See the start times for each session at the next F1 event."/>
        <meta property="og:description" content="See the start times for each session at the next F1 event."/>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>
    <body>
        <div class="center-container">
            <h1>Waiting for next season...</h1>
            <p>Season data is refreshed every 24 hours, feel free to check back!</p>
            <p>OR you could take a look at the ergast project below for basically every F1 stat you could ever want!</p>
        </div>
    </body>
    <footer>
        <p>Data provided by <a href="http://ergast.com/mrd" target="_blank">Ergast API</a></p>
    </footer>
</html>
