html {
    color: white;
    background-color: #181A1B;
    font-family: arial, sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
}

th {
    text-align: center;
}

td {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
}

a {
    color: #3391ff;
}

.center-container {
    padding-top: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    text-align: center;
}

.info-container {
    text-align: left;
}

.info-table {
    margin-right: auto;
    margin-left: auto;
}

.info-timezone {
    text-align: center;
}

.js-req {
    display: none;
}

@media only screen and (max-width: 1000px) {
    td {
        padding: 2px;
    }

    .center-container {
        padding-top: 0;
        width: 100%;
    }
}
