<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes"/>
        <title>Next F1 Race: {{.F1Data.Race.MeetingOfficialName}}</title>
        <meta property="og:title" content="Next F1 Race: {{.F1Data.Race.MeetingOfficialName}}"/>
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://f1when.com">
        <meta name="description" content="See the start times for each session at the next F1 event."/>
        <meta property="og:description" content="See the start times for each session at the next F1 event."/>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <script>
            var gmtOffset = "{{(index .F1Data.SeasonContext.Timetables 0).GmtOffset}}"
            {{/** ignore the below error **/}}
            var sessions = {{.F1Data.SeasonContext.Timetables}}
        </script>
        <script src="/static/js/mainv2.js?2"></script>
        <!-- <script src="/static/js/raceselect.js"></script> -->
    </head>
    <body>
        <div id="center-container">
            <h1>{{.F1Data.Race.MeetingOfficialName}}</a></h1>
            <div class="info-container">
                <table class="info-table">
                    <tr>
                        <th>Session</th>
                        <th class="js-req">Your Time</th>
                        <th>UTC</th>
                        <th class="js-req">Starts In</th>
                    </tr>
                    {{range .F1Data.SeasonContext.Timetables}}
                        <tr>
                            <td>{{.Description}}</td>
                            <td id="{{.Session}}-user-time" class="js-req"></td>
                            <td id="{{.Session}}-utc-time">{{.StartTimeUTC}}</td>
                            <td id="{{.Session}}-starts-in" class="js-req"></td>
                        </tr>
                    {{end}}
                </table>
                <div class="info-timezone">
                    <p class="js-req">*Your Time depends on your web browser properly presenting your timezone</p>
                    <p id="detected-timezone"></p>
                </div>
                <div class="info-track">
                    <img class="track-image" src="{{.F1Data.CircuitSmallImage.URL}}"/>
                </div>
            </div>
        </div>
    </body>
    <footer>
    </footer>
</html>
