<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes"/>
        <title>Next F1 Race: {{.Race.Name}}</title>
        <meta property="og:title" content="Next F1 Race: {{.Race.Name}}"/>
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://f1when.com">
        <meta name="description" content="See the start times for each session at the next F1 event."/>
        <meta property="og:description" content="See the start times for each session at the next F1 event."/>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <script>
            var fp = "{{.Race.FirstPractice.Date}} {{.Race.FirstPractice.Time}}"
            var sp = "{{.Race.SecondPractice.Date}} {{.Race.SecondPractice.Time}}"
            var tp = "{{.Race.ThirdPractice.Date}} {{.Race.ThirdPractice.Time}}"
            var q = "{{.Race.Qualifying.Date}} {{.Race.Qualifying.Time}}"
            var s = "{{.Race.Sprint.Date}} {{.Race.Sprint.Time}}"
            var r = "{{.Race.Date}} {{.Race.Time}}"
        </script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/raceselect.js"></script>
    </head>
    <body>
        <div id="race-selector" class="js-req">
            <div id="navbar">
                <button onclick="closeRaceSelector()">☰</button>
                <a href="/">☖</a>
            </div>
            {{range .Races}}
            <a class="race-selector-item" href="/round/{{.Round}}"><h2>{{.Name}} {{.Date}}</h2></a>
            {{end}}
        </div>
        <div id="navbar">
            <button onclick="openRaceSelector()">☰</button>
            <a href="/">☖</a>
        </div>
        <div id="center-container">
            <h1><a href="{{.Race.URL}}">F1 {{.Race.Name}}</a> @ <a href="{{.Race.Circuit.URL}}">{{.Race.Circuit.Name}}</a></h1>
            <div class="info-container">
                <table class="info-table">
                    <tr>
                        <th>Session</th>
                        <th class="js-req">Your Time</th>
                        <th>UTC</th>
                        <th class="js-req">Starts In</th>
                    </tr>
                    {{if .Race.FirstPractice.Date}}
                    <tr>
                        <td>First Practice</td>
                        <td id="fp-user-time" class="js-req"></td>
                        <td id="fp-utc-time">{{.Race.FirstPractice.Date}} {{.Race.FirstPractice.Time}}</td>
                        <td id="fp-starts-in" class="js-req"></td>
                    </tr>
                    {{end}}
                    {{if .Race.SecondPractice.Date}}
                    <tr>
                        <td>Second Practice</td>
                        <td id="sp-user-time" class="js-req"></td>
                        <td id="sp-utc-time">{{.Race.SecondPractice.Date}} {{.Race.SecondPractice.Time}}</td>
                        <td id="sp-starts-in" class="js-req"></td>
                    </tr>
                    {{end}}
                    {{if .Race.ThirdPractice.Date}}
                    <tr>
                        <td>Third Practice</td>
                        <td id="tp-user-time" class="js-req"></td>
                        <td id="tp-utc-time">{{.Race.ThirdPractice.Date}} {{.Race.ThirdPractice.Time}}</td>
                        <td id="tp-starts-in" class="js-req"></td>
                    </tr>
                    {{end}}
                    {{if .Race.Qualifying.Date}}
                    <tr>
                        <td>Qualifying</td>
                        <td id="q-user-time" class="js-req"></td>
                        <td id="q-utc-time">{{.Race.Qualifying.Date}} {{.Race.Qualifying.Time}}</td>
                        <td id="q-starts-in" class="js-req"></td>
                    </tr>
                    {{end}}
                    {{if .Race.Sprint.Date}}
                    <tr>
                        <td>Sprint</td>
                        <td id="s-user-time" class="js-req"></td>
                        <td id="s-utc-time">{{.Race.Sprint.Date}} {{.Race.Sprint.Time}}</td>
                        <td id="s-starts-in" class="js-req"></td>
                    </tr>
                    {{end}}
                    <tr>
                        <td>Race</td>
                        <td id="r-user-time" class="js-req"></td>
                        <td id="r-utc-time">{{.Race.Date}} {{.Race.Time}}</td>
                        <td id="r-starts-in" class="js-req"></td>
                    </tr>
                </table>
                <div class="info-timezone">
                    <p class="js-req">*Your Time depends on your web browser properly presenting your timezone</p>
                    <p id="detected-timezone"></p>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <p>Data provided by <a href="http://ergast.com/mrd" target="_blank">Ergast API</a></p>
    </footer>
</html>
